.icon-01_critical-dims {
    width: 100px;
    height: 100px;
}

.icon-02_high-dims {
    width: 100px;
    height: 100px;
}

.icon-03_default-dims {
    width: 100px;
    height: 100px;
}

.icon-04_low-dims {
    width: 100px;
    height: 100px;
}

.icon-05_wishlist-dims {
    width: 100px;
    height: 100px;
}

.icon-email-dims {
    width: 100px;
    height: 100px;
}

.icon-etsy-dims {
    width: 32px;
    height: 32px;
}

.icon-facebook-dims {
    width: 32px;
    height: 32px;
}

.icon-flickr-dims {
    width: 32px;
    height: 32px;
}

.icon-folder-dims {
    width: 100px;
    height: 100px;
}

.icon-googleplus-dims {
    width: 32px;
    height: 32px;
}

.icon-home-dims {
    width: 100px;
    height: 100px;
}

.icon-instagram-dims {
    width: 32px;
    height: 32px;
}

.icon-linkedin-dims {
    width: 32px;
    height: 32px;
}

.icon-navigation-dims {
    width: 100px;
    height: 100px;
}

.icon-paypal-dims {
    width: 32px;
    height: 32px;
}

.icon-rss-dims {
    width: 32px;
    height: 32px;
}

.icon-spotify-dims {
    width: 32px;
    height: 32px;
}

.icon-tags-dims {
    width: 100px;
    height: 100px;
}

.icon-twitter-dims {
    width: 32px;
    height: 32px;
}

.icon-wordpressdotcom-dims {
    width: 32px;
    height: 32px;
}

.icon-youtube-dims {
    width: 32px;
    height: 32px;
}

