@charset "UTF-8";
/******************************************************************

Stylesheet: Main Stylesheet

Here's where the magic happens. Here is where you import
all of your Sass files so they can compile into one
CSS file. 

******************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;0,800;1,200;1,400;1,600;1,700;1,800&display=swap");
.assistive-text,
.visuallyhidden,
.screen-reader-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.cover-button {
  display: flex;
  flex-direction: column;
}
.cover-button .wp-block-cover__inner-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.cover-button .wp-block-cover__inner-container h2 {
  flex: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}
.cover-button .wp-block-cover__inner-container h2 a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}
.cover-button .wp-block-cover__inner-container h2 a:hover, .cover-button .wp-block-cover__inner-container h2 a:focus, .cover-button .wp-block-cover__inner-container h2 a:target {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
}

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0) blur(30px);
  }
  100% {
    filter: hue-rotate(360deg) blur(30px);
  }
}
html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  margin: 0;
  font-family: "Montserrat";
  -webkit-tap-highlight-color: rgba(54, 207, 255, 0.3);
  background-color: #161617;
  background-image: linear-gradient(to bottom, #252627 0%, #1b1b1d 90%);
  color: #fff;
  font-weight: 300;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
@media (max-width: 600px) {
  body {
    line-height: 1.2;
  }
}
body:after {
  content: "";
  position: fixed;
  left: -20%;
  right: -20%;
  bottom: -195px;
  height: 175px;
  filter: blur(60px);
  -webkit-filter: blur(60px);
  background-image: conic-gradient(from 180deg at 50% 100%, transparent 0, transparent 27%, #1e3074 27%, #1152be 36.04%, #09bcef 58.23%, #0fe4a2 63%, #273074 73%, transparent 73%, transparent 100%);
  opacity: 0.5;
}

.highlight,
::selection {
  background: #94e5ff;
  color: #000;
}

div.site-content {
  flex: 1;
}

a {
  color: #0fe4a2;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  font-weight: 400;
  position: relative;
  display: inline-block;
  padding: 1px 3px;
}
a:after {
  display: block;
  content: "";
  z-index: -1;
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(92, 91, 167, 0.24);
  transition: all 380ms ease-in-out;
  transition-delay: 80ms;
}
a:hover, a:focus, a:active {
  color: #f3f4f5;
}
a:hover:after, a:focus:after, a:active:after {
  background: rgba(92, 91, 167, 0.64);
  height: 0.5em;
}

blockquote {
  position: relative;
  padding: 1rem;
}
blockquote:before {
  content: "“";
  font-family: Georgia, serif;
  font-size: 90px;
  font-weight: bold;
  opacity: 0.2;
  position: absolute;
  left: -1.5rem;
  top: -1.5rem;
}

.hide-this {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}
.hide-this svg {
  display: none;
}

.wp-block-button__link,
.button,
a.button,
input[type=submit],
button,
a.wp-block-button__link {
  transition: all 200ms ease-in-out;
  background: var(--button--background_color);
  color: var(--button--text_color);
}
.wp-block-button__link:hover, .wp-block-button__link:focus, .wp-block-button__link:visited:hover,
.button:hover,
.button:focus,
.button:visited:hover,
a.button:hover,
a.button:focus,
a.button:visited:hover,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:visited:hover,
button:hover,
button:focus,
button:visited:hover,
a.wp-block-button__link:hover,
a.wp-block-button__link:focus,
a.wp-block-button__link:visited:hover {
  background: var(--button_hover--background_color);
  color: var(--button_hover--text_color);
}
.wp-block-button__link.full,
.button.full,
a.button.full,
input[type=submit].full,
button.full,
a.wp-block-button__link.full {
  display: block;
  text-align: center;
}
.wp-block-button__link.text_link,
.button.text_link,
a.button.text_link,
input[type=submit].text_link,
button.text_link,
a.wp-block-button__link.text_link {
  background: none;
  color: var(--body--link_color);
}
.wp-block-button__link.text_link:hover, .wp-block-button__link.text_link:focus, .wp-block-button__link.text_link:active,
.button.text_link:hover,
.button.text_link:focus,
.button.text_link:active,
a.button.text_link:hover,
a.button.text_link:focus,
a.button.text_link:active,
input[type=submit].text_link:hover,
input[type=submit].text_link:focus,
input[type=submit].text_link:active,
button.text_link:hover,
button.text_link:focus,
button.text_link:active,
a.wp-block-button__link.text_link:hover,
a.wp-block-button__link.text_link:focus,
a.wp-block-button__link.text_link:active {
  color: var(--body--link_color_hover);
}
.is-style-outline .wp-block-button__link,
.is-style-outline .button,
.is-style-outline a.button,
.is-style-outline input[type=submit],
.is-style-outline button,
.is-style-outline a.wp-block-button__link {
  border-color: var(--button--background_color);
  color: var(--button--background_color);
}
.is-style-outline .wp-block-button__link:hover, .is-style-outline .wp-block-button__link:focus, .is-style-outline .wp-block-button__link:visited:hover,
.is-style-outline .button:hover,
.is-style-outline .button:focus,
.is-style-outline .button:visited:hover,
.is-style-outline a.button:hover,
.is-style-outline a.button:focus,
.is-style-outline a.button:visited:hover,
.is-style-outline input[type=submit]:hover,
.is-style-outline input[type=submit]:focus,
.is-style-outline input[type=submit]:visited:hover,
.is-style-outline button:hover,
.is-style-outline button:focus,
.is-style-outline button:visited:hover,
.is-style-outline a.wp-block-button__link:hover,
.is-style-outline a.wp-block-button__link:focus,
.is-style-outline a.wp-block-button__link:visited:hover {
  border-color: var(--button_hover--background_color);
  color: var(--button_hover--background_color);
}

.padding {
  padding: 4rem;
}

.centered-text {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.3em;
  line-height: 1.1;
  font-family: var(--typography-header_text);
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 90ch;
  margin-left: auto;
  margin-right: auto;
}

p {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 90ch;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  max-width: 90ch;
  margin-left: auto;
  margin-right: auto;
}

.page-content ul,
.page-content ol {
  max-width: 90ch;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: var(--typography-h1_size);
  line-height: 1;
}
@media (max-width: 600px) {
  h1 {
    font-size: calc(var(--typography-h1_size) * 0.8);
  }
}

h2 {
  font-size: var(--typography-h2_size);
}
@media (max-width: 600px) {
  h2 {
    font-size: calc(var(--typography-h2_size) * 0.8);
  }
}

h3 {
  font-size: var(--typography-h3_size);
}
@media (max-width: 600px) {
  h3 {
    font-size: calc(var(--typography-h3_size) * 0.8);
  }
}

h4 {
  font-size: var(--typography-h4_size);
}
@media (max-width: 600px) {
  h4 {
    font-size: calc(var(--typography-h4_size) * 0.8);
  }
}

h5 {
  font-size: var(--typography-h5_size);
}
@media (max-width: 600px) {
  h5 {
    font-size: calc(var(--typography-h5_size) * 0.8);
  }
}

h6 {
  font-size: var(--typography-h6_size);
}
@media (max-width: 600px) {
  h6 {
    font-size: calc(var(--typography-h6_size) * 0.8);
  }
}

@media (min-width: 900px) {
  .main-two-columns {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    max-width: 1230px;
  }
  .main-two-columns .main-column {
    width: 63.8%;
    padding-right: 30px;
    padding-top: 2rem;
  }
  .main-two-columns .secondary-column {
    width: 36.2%;
    padding-left: 30px;
    padding-top: 3rem;
  }
}
@media (min-width: 600px) and (max-width: 900px) and (orientation: portrait) {
  .wp-block-columns {
    flex-wrap: wrap;
    width: 100%;
  }
  .wp-block-column[style*=flex-basis].block-on-tablet-down {
    width: 100%;
    flex: 1;
    flex-grow: 1;
  }
  .wp-block-column[style*=flex-basis].block-on-tablet-down + .wp-block-column[style*=flex-basis] {
    width: 100%;
    flex-basis: 100% !important;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.alignleft {
  float: left;
  margin: 0.8rem 1.6rem 0.8rem 0;
}

.alignright {
  float: right;
  margin: 0.8rem 0 0.8rem 1.6rem;
}

.wp-caption {
  text-align: center;
}

img.alignright {
  float: right;
  margin: 2rem 0 2rem 2rem;
  max-width: 50%;
}
img.alignleft {
  float: left;
  margin: 2rem 2rem 2rem 0;
  max-width: 50%;
}
img.aligncenter {
  width: 95%;
  clear: both;
  height: auto;
  margin: 2rem auto;
  max-width: none;
}

.gallery {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  padding: 2rem;
  margin: 2rem auto;
}
.gallery li {
  display: inline-flex;
  flex: 33.333%;
  margin: 0;
}
.gallery a {
  display: block;
}

/**
 * base form styles
 */
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
input[type=month],
input[type=week],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input:not([type=file]),
select,
textarea {
  padding: 0.5em 0.75em;
  box-shadow: none;
  -webkit-appearance: none;
  background-color: #161617;
  color: #fff;
  border: 2px solid transparent;
  transition: all 250ms ease-in-out;
}
input[type=email]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=search]:hover,
input[type=tel]:hover,
input[type=text]:hover,
input[type=url]:hover,
input[type=month]:hover,
input[type=week]:hover,
input[type=date]:hover,
input[type=datetime]:hover,
input[type=datetime-local]:hover,
input:not([type=file]):hover,
select:hover,
textarea:hover {
  border: 2px solid #0fe4a2;
}
.with_frm_style input[type=email], .frm_style_formidable-style.with_frm_style input[type=email], .frm_style_formidable-style.with_frm_style .form-field input[type=email], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=email], .frm_form_fields_active_style input[type=email],
.with_frm_style input[type=number],
.frm_style_formidable-style.with_frm_style input[type=number],
.frm_style_formidable-style.with_frm_style .form-field input[type=number],
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=number],
.frm_form_fields_active_style input[type=number],
.with_frm_style input[type=password],
.frm_style_formidable-style.with_frm_style input[type=password],
.frm_style_formidable-style.with_frm_style .form-field input[type=password],
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=password],
.frm_form_fields_active_style input[type=password],
.with_frm_style input[type=search],
.frm_style_formidable-style.with_frm_style input[type=search],
.frm_style_formidable-style.with_frm_style .form-field input[type=search],
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=search],
.frm_form_fields_active_style input[type=search],
.with_frm_style input[type=tel],
.frm_style_formidable-style.with_frm_style input[type=tel],
.frm_style_formidable-style.with_frm_style .form-field input[type=tel],
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=tel],
.frm_form_fields_active_style input[type=tel],
.with_frm_style input[type=text],
.frm_style_formidable-style.with_frm_style input[type=text],
.frm_style_formidable-style.with_frm_style .form-field input[type=text],
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=text],
.frm_form_fields_active_style input[type=text],
.with_frm_style input[type=url],
.frm_style_formidable-style.with_frm_style input[type=url],
.frm_style_formidable-style.with_frm_style .form-field input[type=url],
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=url],
.frm_form_fields_active_style input[type=url],
.with_frm_style input[type=month],
.frm_style_formidable-style.with_frm_style input[type=month],
.frm_style_formidable-style.with_frm_style .form-field input[type=month],
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=month],
.frm_form_fields_active_style input[type=month],
.with_frm_style input[type=week],
.frm_style_formidable-style.with_frm_style input[type=week],
.frm_style_formidable-style.with_frm_style .form-field input[type=week],
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=week],
.frm_form_fields_active_style input[type=week],
.with_frm_style input[type=date],
.frm_style_formidable-style.with_frm_style input[type=date],
.frm_style_formidable-style.with_frm_style .form-field input[type=date],
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=date],
.frm_form_fields_active_style input[type=date],
.with_frm_style input[type=datetime],
.frm_style_formidable-style.with_frm_style input[type=datetime],
.frm_style_formidable-style.with_frm_style .form-field input[type=datetime],
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=datetime],
.frm_form_fields_active_style input[type=datetime],
.with_frm_style input[type=datetime-local],
.frm_style_formidable-style.with_frm_style input[type=datetime-local],
.frm_style_formidable-style.with_frm_style .form-field input[type=datetime-local],
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=datetime-local],
.frm_form_fields_active_style input[type=datetime-local],
.with_frm_style input:not([type=file]),
.frm_style_formidable-style.with_frm_style input:not([type=file]),
.frm_style_formidable-style.with_frm_style .form-field input:not([type=file]),
.frm_style_formidable-style.with_frm_style .frm_focus_field input:not([type=file]),
.frm_form_fields_active_style input:not([type=file]),
.with_frm_style select,
.frm_style_formidable-style.with_frm_style select,
.frm_style_formidable-style.with_frm_style .form-field select,
.frm_style_formidable-style.with_frm_style .frm_focus_field select,
.frm_form_fields_active_style select,
.with_frm_style textarea,
.frm_style_formidable-style.with_frm_style textarea,
.frm_style_formidable-style.with_frm_style .form-field textarea,
.frm_style_formidable-style.with_frm_style .frm_focus_field textarea,
.frm_form_fields_active_style textarea {
  font-size: 16px;
  background-color: #161617;
  color: #fff;
  padding: 0.5em 0.75em;
  box-shadow: none;
  -webkit-appearance: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.95) 0 2px 5px -1px, rgba(0, 0, 0, 0.73) 0 1px 3px -1px;
  border: 2px solid transparent;
}
.with_frm_style input[type=email]:hover, .frm_style_formidable-style.with_frm_style input[type=email]:hover, .frm_style_formidable-style.with_frm_style .form-field input[type=email]:hover, .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=email]:hover, .frm_form_fields_active_style input[type=email]:hover,
.with_frm_style input[type=number]:hover,
.frm_style_formidable-style.with_frm_style input[type=number]:hover,
.frm_style_formidable-style.with_frm_style .form-field input[type=number]:hover,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=number]:hover,
.frm_form_fields_active_style input[type=number]:hover,
.with_frm_style input[type=password]:hover,
.frm_style_formidable-style.with_frm_style input[type=password]:hover,
.frm_style_formidable-style.with_frm_style .form-field input[type=password]:hover,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=password]:hover,
.frm_form_fields_active_style input[type=password]:hover,
.with_frm_style input[type=search]:hover,
.frm_style_formidable-style.with_frm_style input[type=search]:hover,
.frm_style_formidable-style.with_frm_style .form-field input[type=search]:hover,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=search]:hover,
.frm_form_fields_active_style input[type=search]:hover,
.with_frm_style input[type=tel]:hover,
.frm_style_formidable-style.with_frm_style input[type=tel]:hover,
.frm_style_formidable-style.with_frm_style .form-field input[type=tel]:hover,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=tel]:hover,
.frm_form_fields_active_style input[type=tel]:hover,
.with_frm_style input[type=text]:hover,
.frm_style_formidable-style.with_frm_style input[type=text]:hover,
.frm_style_formidable-style.with_frm_style .form-field input[type=text]:hover,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=text]:hover,
.frm_form_fields_active_style input[type=text]:hover,
.with_frm_style input[type=url]:hover,
.frm_style_formidable-style.with_frm_style input[type=url]:hover,
.frm_style_formidable-style.with_frm_style .form-field input[type=url]:hover,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=url]:hover,
.frm_form_fields_active_style input[type=url]:hover,
.with_frm_style input[type=month]:hover,
.frm_style_formidable-style.with_frm_style input[type=month]:hover,
.frm_style_formidable-style.with_frm_style .form-field input[type=month]:hover,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=month]:hover,
.frm_form_fields_active_style input[type=month]:hover,
.with_frm_style input[type=week]:hover,
.frm_style_formidable-style.with_frm_style input[type=week]:hover,
.frm_style_formidable-style.with_frm_style .form-field input[type=week]:hover,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=week]:hover,
.frm_form_fields_active_style input[type=week]:hover,
.with_frm_style input[type=date]:hover,
.frm_style_formidable-style.with_frm_style input[type=date]:hover,
.frm_style_formidable-style.with_frm_style .form-field input[type=date]:hover,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=date]:hover,
.frm_form_fields_active_style input[type=date]:hover,
.with_frm_style input[type=datetime]:hover,
.frm_style_formidable-style.with_frm_style input[type=datetime]:hover,
.frm_style_formidable-style.with_frm_style .form-field input[type=datetime]:hover,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=datetime]:hover,
.frm_form_fields_active_style input[type=datetime]:hover,
.with_frm_style input[type=datetime-local]:hover,
.frm_style_formidable-style.with_frm_style input[type=datetime-local]:hover,
.frm_style_formidable-style.with_frm_style .form-field input[type=datetime-local]:hover,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=datetime-local]:hover,
.frm_form_fields_active_style input[type=datetime-local]:hover,
.with_frm_style input:not([type=file]):hover,
.frm_style_formidable-style.with_frm_style input:not([type=file]):hover,
.frm_style_formidable-style.with_frm_style .form-field input:not([type=file]):hover,
.frm_style_formidable-style.with_frm_style .frm_focus_field input:not([type=file]):hover,
.frm_form_fields_active_style input:not([type=file]):hover,
.with_frm_style select:hover,
.frm_style_formidable-style.with_frm_style select:hover,
.frm_style_formidable-style.with_frm_style .form-field select:hover,
.frm_style_formidable-style.with_frm_style .frm_focus_field select:hover,
.frm_form_fields_active_style select:hover,
.with_frm_style textarea:hover,
.frm_style_formidable-style.with_frm_style textarea:hover,
.frm_style_formidable-style.with_frm_style .form-field textarea:hover,
.frm_style_formidable-style.with_frm_style .frm_focus_field textarea:hover,
.frm_form_fields_active_style textarea:hover {
  border: 2px solid rgba(15, 228, 162, 0.5);
}
.with_frm_style input[type=email]:focus, .frm_style_formidable-style.with_frm_style input[type=email]:focus, .frm_style_formidable-style.with_frm_style .form-field input[type=email]:focus, .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=email]:focus, .frm_form_fields_active_style input[type=email]:focus,
.with_frm_style input[type=number]:focus,
.frm_style_formidable-style.with_frm_style input[type=number]:focus,
.frm_style_formidable-style.with_frm_style .form-field input[type=number]:focus,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=number]:focus,
.frm_form_fields_active_style input[type=number]:focus,
.with_frm_style input[type=password]:focus,
.frm_style_formidable-style.with_frm_style input[type=password]:focus,
.frm_style_formidable-style.with_frm_style .form-field input[type=password]:focus,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=password]:focus,
.frm_form_fields_active_style input[type=password]:focus,
.with_frm_style input[type=search]:focus,
.frm_style_formidable-style.with_frm_style input[type=search]:focus,
.frm_style_formidable-style.with_frm_style .form-field input[type=search]:focus,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=search]:focus,
.frm_form_fields_active_style input[type=search]:focus,
.with_frm_style input[type=tel]:focus,
.frm_style_formidable-style.with_frm_style input[type=tel]:focus,
.frm_style_formidable-style.with_frm_style .form-field input[type=tel]:focus,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=tel]:focus,
.frm_form_fields_active_style input[type=tel]:focus,
.with_frm_style input[type=text]:focus,
.frm_style_formidable-style.with_frm_style input[type=text]:focus,
.frm_style_formidable-style.with_frm_style .form-field input[type=text]:focus,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=text]:focus,
.frm_form_fields_active_style input[type=text]:focus,
.with_frm_style input[type=url]:focus,
.frm_style_formidable-style.with_frm_style input[type=url]:focus,
.frm_style_formidable-style.with_frm_style .form-field input[type=url]:focus,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=url]:focus,
.frm_form_fields_active_style input[type=url]:focus,
.with_frm_style input[type=month]:focus,
.frm_style_formidable-style.with_frm_style input[type=month]:focus,
.frm_style_formidable-style.with_frm_style .form-field input[type=month]:focus,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=month]:focus,
.frm_form_fields_active_style input[type=month]:focus,
.with_frm_style input[type=week]:focus,
.frm_style_formidable-style.with_frm_style input[type=week]:focus,
.frm_style_formidable-style.with_frm_style .form-field input[type=week]:focus,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=week]:focus,
.frm_form_fields_active_style input[type=week]:focus,
.with_frm_style input[type=date]:focus,
.frm_style_formidable-style.with_frm_style input[type=date]:focus,
.frm_style_formidable-style.with_frm_style .form-field input[type=date]:focus,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=date]:focus,
.frm_form_fields_active_style input[type=date]:focus,
.with_frm_style input[type=datetime]:focus,
.frm_style_formidable-style.with_frm_style input[type=datetime]:focus,
.frm_style_formidable-style.with_frm_style .form-field input[type=datetime]:focus,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=datetime]:focus,
.frm_form_fields_active_style input[type=datetime]:focus,
.with_frm_style input[type=datetime-local]:focus,
.frm_style_formidable-style.with_frm_style input[type=datetime-local]:focus,
.frm_style_formidable-style.with_frm_style .form-field input[type=datetime-local]:focus,
.frm_style_formidable-style.with_frm_style .frm_focus_field input[type=datetime-local]:focus,
.frm_form_fields_active_style input[type=datetime-local]:focus,
.with_frm_style input:not([type=file]):focus,
.frm_style_formidable-style.with_frm_style input:not([type=file]):focus,
.frm_style_formidable-style.with_frm_style .form-field input:not([type=file]):focus,
.frm_style_formidable-style.with_frm_style .frm_focus_field input:not([type=file]):focus,
.frm_form_fields_active_style input:not([type=file]):focus,
.with_frm_style select:focus,
.frm_style_formidable-style.with_frm_style select:focus,
.frm_style_formidable-style.with_frm_style .form-field select:focus,
.frm_style_formidable-style.with_frm_style .frm_focus_field select:focus,
.frm_form_fields_active_style select:focus,
.with_frm_style textarea:focus,
.frm_style_formidable-style.with_frm_style textarea:focus,
.frm_style_formidable-style.with_frm_style .form-field textarea:focus,
.frm_style_formidable-style.with_frm_style .frm_focus_field textarea:focus,
.frm_form_fields_active_style textarea:focus {
  border: 2px solid #0fe4a2;
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px, rgba(0, 0, 0, 0.07) 0 2px 4px, rgba(0, 0, 0, 0.07) 0 4px 8px, rgba(0, 0, 0, 0.07) 0 8px 16px, rgba(0, 0, 0, 0.07) 0 16px 32px, rgba(0, 0, 0, 0.07) 0 32px 64px;
  background-color: #161617;
  color: #fff;
}

fieldset {
  border: none;
  padding: 1rem 0;
  margin-bottom: 3rem;
}

.frm_forms.frm_style_formidable-style.with_frm_style,
.frm_forms {
  width: 90vw;
  max-width: 950px;
  margin: 1em auto;
}

.frm_description {
  font-size: 80%;
  opacity: 0.8;
  margin-bottom: 2rem;
}

.frm_form_field.form-field {
  margin-bottom: 2.5rem;
}
.frm_form_field.form-field input,
.frm_form_field.form-field textarea {
  display: block;
  width: 100%;
}
.frm_form_field.form-field input[type=radio],
.frm_form_field.form-field input[type=checkbox] {
  width: auto;
  display: inline-block;
}

.frm_error,
.frm_required {
  color: var(--form_error_text);
  font-weight: bold;
}

textarea[aria-invalid=true],
input[aria-invalid=true] {
  border: 1px solid var(--form_error_text);
}

.frm_dropzone,
.with_frm_style .frm_dropzone {
  background: #161617;
  background-image: linear-gradient(to bottom, #252627 0%, #1b1b1d 90%);
}
.frm_dropzone .dz-message,
.with_frm_style .frm_dropzone .dz-message {
  background: rgba(0, 0, 0, 0.1);
  transition: all 250ms ease-in-out;
}
.frm_dropzone .dz-message:hover,
.with_frm_style .frm_dropzone .dz-message:hover {
  border-color: #0fe4a2;
  background: rgba(0, 0, 0, 0.2);
}

.frm_form_field.frm_left_container input:not([type=radio]):not([type=checkbox]), .frm_form_field.frm_left_container:not(.frm_dynamic_select_container) select, .frm_form_field.frm_left_container textarea, .frm_form_field.frm_left_container .wp-editor-wrap, .frm_form_field.frm_left_container .frm_opt_container, .frm_form_field.frm_left_container .frm_dropzone, .frm_form_field.frm_left_container .frm-g-recaptcha, .frm_form_field.frm_left_container .g-recaptcha, .frm_form_field.frm_left_container .chosen-container, .frm_form_field.frm_left_container .frm_combo_inputs_container, .frm_form_field.frm_right_container input:not([type=radio]):not([type=checkbox]), .frm_form_field.frm_right_container:not(.frm_dynamic_select_container) select, .frm_form_field.frm_right_container textarea, .frm_form_field.frm_right_container .wp-editor-wrap, .frm_form_field.frm_right_container .frm_opt_container, .frm_form_field.frm_right_container .frm_dropzone, .frm_form_field.frm_right_container .frm-g-recaptcha, .frm_form_field.frm_right_container .g-recaptcha, .frm_form_field.frm_right_container .chosen-container, .frm_form_field.frm_right_container .frm_combo_inputs_container {
  max-width: 100%;
}

.frm_form_field.frm_left_container label.frm_primary_label {
  max-width: 90%;
}

.frm_form_field input,
.frm_form_field select {
  width: 100%;
}

.with_frm_style .frm_form_fields > fieldset {
  background: rgba(92, 91, 167, 0.12);
  border-radius: 5px;
}

.widget_search form.search-form {
  display: flex;
}
.widget_search form.search-form label {
  flex: 1;
}
.widget_search input[type=search] {
  margin: 0 -2px 0 0;
  width: 100%;
}
.widget_search input[type=submit] {
  font-size: 80%;
  padding: 8px 10px;
  margin: 0 0 0 -5px;
}

#full_page_sticky_container {
  position: relative;
}

.site-header {
  position: sticky;
  top: 0;
  max-width: 100vw;
  z-index: 999999;
}
.site-header:before {
  content: "";
  position: absolute;
  left: -70%;
  right: 20%;
  top: -65px;
  height: 75px;
  filter: blur(30px);
  -webkit-filter: blur(30px);
  background-image: conic-gradient(from 180deg at 50% 100%, transparent 0, transparent 27%, #f95557 27%, #5c5ba7 36.04%, #1152be 58.23%, #09bcef 63%, #0fe4a2 73%, transparent 73%, transparent 100%);
  animation: hueRotate 9.5s linear infinite;
}
.site-header .site-header-content-container {
  display: flex;
  align-items: center;
  position: absolute;
  min-height: 4em;
  width: 100%;
  padding: 2px 2rem;
  transition: all 200ms ease-in-out;
  background: rgba(17, 17, 18, 0);
  backdrop-filter: blur(12px);
}
@media (max-width: 600px) {
  .site-header .site-header-content-container {
    padding: 2px 1rem;
  }
}
.site-header.smaller .site-header-content-container {
  background: rgba(17, 17, 18, 0.3);
  backdrop-filter: blur(12px);
  box-shadow: rgba(26, 30, 56, 0.75) 0 20px 30px -10px;
}
.site-header .site-logo {
  padding: 5px 15px;
  color: #fff;
}
.site-header .site-logo a {
  color: currentColor;
  text-decoration: none;
}
.site-header .site-logo a:after {
  content: none;
}
.site-header .site-logo img {
  height: auto;
  width: 80vw;
  min-width: 120px;
  max-width: 250px;
}
.site-header .site-logo h1 {
  margin: 0;
}
.site-header .site-logo svg {
  width: 50vw;
  min-width: 150px;
  max-width: 250px;
  transition: all 250ms ease-in-out;
  fill: #fff;
  position: relative;
}
.site-header .main-navigation {
  text-align: center;
  position: relative;
  flex: 1;
  z-index: 9999999;
  display: flex;
  line-height: 1;
  align-items: baseline;
}
.site-header .main-navigation button {
  align-self: stretch;
  padding: 0 0.76em 0 1.1em;
  transition: all 200ms ease-in-out;
  outline: 0;
  border: 0;
  font-size: 0.9rem;
}
.site-header .main-navigation button.hidden {
  transition: none;
  width: 0;
  padding: 0;
  overflow: hidden;
}
.site-header .main-navigation button:after {
  content: attr(count);
  display: inline-flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  background-color: #f95557;
  color: #fff;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  font-size: 11px;
  line-height: 11px;
  margin: 0 -0.25em 0 0.4em;
}
.site-header .main-navigation ul.links {
  margin-bottom: -2rem;
  margin-top: 0;
  padding: 0 0 0 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  transition: all 200ms ease-in-out;
}
.site-header .main-navigation ul.links li {
  list-style-type: none;
  margin: 0 1px 0 0;
  padding: 0;
}
.site-header .main-navigation ul.links li.menu-item-has-children {
  position: relative;
}
.site-header .main-navigation ul.links li.menu-item-has-children:hover > ul.menu, .site-header .main-navigation ul.links li.menu-item-has-children:focus > ul.menu, .site-header .main-navigation ul.links li.menu-item-has-children:target > ul.menu {
  max-height: 90vh;
}
.site-header .main-navigation ul.links li.menu-item-has-children:hover > ul.menu a, .site-header .main-navigation ul.links li.menu-item-has-children:focus > ul.menu a, .site-header .main-navigation ul.links li.menu-item-has-children:target > ul.menu a {
  background: rgba(92, 91, 167, 0.5);
}
.site-header .main-navigation ul.links li.menu-item-has-children > ul.menu {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  flex-direction: column;
  align-content: stretch;
  font-size: 90%;
  width: 100%;
  padding: 0.25em;
  transition: max-height 750ms ease-in-out;
}
.site-header .main-navigation ul.links li.menu-item-has-children > ul.menu li {
  display: block;
  width: 100%;
}
.site-header .main-navigation ul.links li.menu-item-has-children > ul.menu li a {
  display: block;
  color: #f3f4f5;
  padding: 1.1em 2em;
  transition: all 500ms ease-in-out;
  transition-delay: 200ms;
}
.site-header .main-navigation ul.hidden-links {
  position: absolute;
  margin: 0.4em 0 0 0;
  padding: 0;
  list-style: none;
  right: 0;
  top: 110%;
}
.site-header .main-navigation ul.hidden-links a {
  background: rgba(92, 91, 167, 0.5);
  color: #f3f4f5;
  padding: 1.1em 2em;
}
.site-header .main-navigation ul.hidden-links li {
  padding: 0;
  margin-bottom: 1px;
}
.site-header .main-navigation ul.hidden-links.hidden {
  display: none;
}
.site-header .main-navigation ul.hidden-links li.menu-item-has-children ul {
  padding: 0;
  list-style: none;
}
.site-header .main-navigation a {
  display: block;
  padding: 0.5em 1.05em;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  text-align: left;
  color: #c5c2c5;
  font-size: 0.75em;
  border: 1px solid transparent;
}
.site-header .main-navigation a:hover, .site-header .main-navigation a:focus, .site-header .main-navigation a:target {
  color: #fff;
  border: 1px solid rgba(15, 228, 162, 0.4);
}
.site-header .main-navigation a:hover:after, .site-header .main-navigation a:focus:after, .site-header .main-navigation a:target:after {
  content: "";
  position: absolute;
  left: -0.5em;
  right: -0.5em;
  height: 0.75em;
  filter: blur(1em);
  -webkit-filter: blur(1em);
  background-image: conic-gradient(from 180deg at 50% 100%, transparent 0, transparent 27%, #1e3074 27%, #1152be 36.04%, #09bcef 58.23%, #0fe4a2 63%, #273074 73%, transparent 73%, transparent 100%);
}
.site-header .main-navigation .current_page_item a {
  border-bottom: 1px solid #0fe4a2;
}
.site-header .main-navigation #menu-home svg {
  fill: currentColor;
  height: 1em;
  width: 1em;
}
.site-header .main-navigation #menu-home a:after {
  bottom: -1px;
}
.page_featured_image_container:after {
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;
}

#main {
  width: 100%;
  padding-top: 100px;
}

.page_heading_area {
  padding-top: 110px;
}

footer.site-footer {
  padding: 2rem 0;
}
footer.site-footer .footer-widget-area {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
@media (max-width: 900px) {
  footer.site-footer .footer-widget-area {
    display: block;
  }
}
footer.site-footer .footer-widget-area > div {
  flex: 1;
  margin: 2em 0;
  padding: 2em 1em 2em 1.2em;
}
@media (max-width: 900px) {
  footer.site-footer .footer-widget-area > div {
    max-width: 100%;
    display: block;
    clear: both;
    border-right: none;
    text-align: center;
  }
}
footer.site-footer .footer-widget-area > div:last-child {
  border-right: none;
}
@media (max-width: 900px) {
  footer.site-footer .footer-widget-area > div:last-child {
    border-bottom: none;
  }
}
footer.site-footer .footer-widget-area .widget_nav_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer.site-footer .footer-widget-area h4.widgettitle {
  text-align: center;
}
footer.site-footer .footer-widget-area div.column div.widget:first-child h4.widgettitle {
  margin-top: 0;
}
footer.site-footer .social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  clear: both;
}
footer.site-footer .social-links li {
  display: inline;
}
footer.site-footer .social-links li span {
  padding: 1rem;
}
footer.site-footer .social-links li a {
  text-decoration: none;
}
footer.site-footer p {
  width: 90%;
  max-width: none;
}

.page_featured_image_container {
  min-height: 33vh;
  position: relative;
}
.page_featured_image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.page_featured_image_container .page_heading_area {
  padding: 8em 2em 2em 2em;
  z-index: 99;
  position: relative;
  text-align: center;
}

.page_title,
h1.page_title,
h2.page_title {
  font-size: var(--typography-h1_size);
  font-weight: 800;
  margin-top: 0;
  line-height: 1;
  text-align: center;
  color: var(--page_header--page_title);
  padding: 0.3em 10px 0.15em 10px;
}
.no-featured-image .page_title,
.no-featured-image h1.page_title,
.no-featured-image h2.page_title {
  padding-top: 2.2em;
}

.page_tagline {
  color: var(--page_header--page_tagline);
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 2.75em;
}
.no-featured-image .page_heading_area {
  padding-bottom: 2em;
}

.homepage_hero-container {
  height: 85vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
}
.homepage_hero-container.two-thirds-height {
  height: 67vh;
}
.homepage_hero-container.one-half-height {
  height: 45vh;
}
.homepage_hero-container.one-half-height .homepage_hero_text {
  width: 90%;
  max-width: 520px;
  font-size: 90%;
}
.homepage_hero-container.one-half-height .homepage_hero_text h1 {
  font-size: calc(var(--type_opt-base_font_size) * 2.5);
}
@media (max-width: 600px) {
  .homepage_hero-container {
    min-height: 110vh;
    display: block;
  }
}
.homepage_hero-container.left-side {
  text-align: left;
  justify-content: flex-start;
  padding-left: 20%;
}
.homepage_hero-container.right-side {
  text-align: right;
  justify-content: flex-end;
  padding-right: 25%;
}
.homepage_hero-container.align-top {
  align-items: flex-start;
  padding-top: 5%;
}
.homepage_hero-container.align-middle {
  align-items: center;
}
.homepage_hero-container.align-bottom {
  align-items: flex-end;
  padding-bottom: 10%;
}
@media (max-width: 600px) {
  .homepage_hero-container.left-side, .homepage_hero-container.right-side {
    padding-left: 5%;
    padding-right: 15%;
  }
  .homepage_hero-container.align-top, .homepage_hero-container.align-middle, .homepage_hero-container.align-bottom {
    padding-top: 60px;
    padding-bottom: 2rem;
  }
}
.homepage_hero-container .homepage_hero_text {
  width: 80%;
  max-width: 480px;
}
.homepage_hero-container .homepage_hero_text h1 {
  margin-top: 0;
}

.archive_loop_container {
  width: 90vw;
  max-width: 950px;
  margin: 1em auto;
}

.ticket_archive .single_ticket {
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px, rgba(0, 0, 0, 0.07) 0 2px 4px, rgba(0, 0, 0, 0.07) 0 4px 8px, rgba(0, 0, 0, 0.07) 0 8px 16px, rgba(0, 0, 0, 0.07) 0 16px 32px, rgba(0, 0, 0, 0.07) 0 32px 64px;
  background: rgba(0, 0, 0, 0.071);
  padding: 1em;
  margin: 1em 0 2em 0;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all 200ms cubic-bezier(0.4, -0.3, 0.6, 1.3);
}
.ticket_archive .single_ticket:hover, .ticket_archive .single_ticket:focus {
  border: 1px solid rgba(92, 91, 167, 0.5);
}

.ticket-header,
.ticket-content {
  display: flex;
}

h3 {
  margin-top: 0;
  flex: 1;
}
h3 a {
  display: block;
}

.ticket-type {
  font-size: 65%;
}
.ticket-type a,
.ticket-type a:visited {
  text-decoration: none;
  background: #5c5ba7;
  color: #fff;
  padding: 0.45em 0.8em;
  border-radius: 0.5em;
  line-height: 1;
}
.ticket-type a:after,
.ticket-type a:visited:after {
  background: none;
}
.ticket-type a:hover, .ticket-type a:target, .ticket-type a:focus,
.ticket-type a:visited:hover,
.ticket-type a:visited:target,
.ticket-type a:visited:focus {
  background: #09bcef;
  color: #000;
}
.ticket_type-bug .ticket-type a,
.ticket_type-bug .ticket-type a:visited {
  background: #f95557;
}
.ticket_type-bug .ticket-type a:hover, .ticket_type-bug .ticket-type a:target, .ticket_type-bug .ticket-type a:focus,
.ticket_type-bug .ticket-type a:visited:hover,
.ticket_type-bug .ticket-type a:visited:target,
.ticket_type-bug .ticket-type a:visited:focus {
  background: #09bcef;
  color: #000;
}

.ticket-urgency {
  font-size: 65%;
  line-height: 1;
}
.ticket-urgency .urgency_label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: -15px 0 0 15px;
}
.ticket-urgency .urgency_label svg {
  width: 30px;
  height: 30px;
  fill: #0fe4a2;
}

.text_description_container {
  min-width: 63.8%;
}

.screenshots_container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.screenshots_container > img {
  max-width: 45%;
  margin: 1em auto;
  padding: 5px;
  border: 1px solid rgba(71, 73, 76, 0.6);
  box-shadow: rgba(0, 0, 0, 0.95) 0 2px 5px -1px, rgba(0, 0, 0, 0.73) 0 1px 3px -1px;
  border-radius: 5px;
  background: #161617;
}

.text_description_container + .screenshots_container {
  padding-left: 1em;
  margin-left: 1em;
  border-left: 1px solid rgba(92, 91, 167, 0.5);
}
.text_description_container + .screenshots_container > img {
  max-width: 100%;
  margin-bottom: 0;
}

header.article-header .byline {
  padding: 0 0 6rem 0;
}

nav.next-and-previous-posts {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
nav.next-and-previous-posts > div {
  padding: 2rem;
}

span.pulled-right {
  display: block;
  float: right;
  clear: right;
  padding: 0 0 0 10px;
  margin: 0 0 20px 20px;
  width: 230px;
  font-size: 1.5em;
  line-height: 1.3;
  text-align: right;
  border-left: 3px solid var(--primary_button_background_color);
}
@media (max-width: 900px) {
  span.pulled-right {
    width: 200px;
    font-size: 1.3em;
  }
}

span.pulled-left {
  display: block;
  float: left;
  clear: left;
  padding: 0 10px 0 0;
  margin: 0 20px 20px 0;
  width: 230px;
  font-size: 1.5em;
  line-height: 1.3;
  text-align: left;
  border-right: 3px solid var(--primary_button_background_color);
}
@media (max-width: 900px) {
  span.pulled-left {
    width: 200px;
    font-size: 1.3em;
  }
}

.icon-01_critical-dims {
  width: 100px;
  height: 100px;
}

.icon-02_high-dims {
  width: 100px;
  height: 100px;
}

.icon-03_default-dims {
  width: 100px;
  height: 100px;
}

.icon-04_low-dims {
  width: 100px;
  height: 100px;
}

.icon-05_wishlist-dims {
  width: 100px;
  height: 100px;
}

.icon-email-dims {
  width: 100px;
  height: 100px;
}

.icon-etsy-dims {
  width: 32px;
  height: 32px;
}

.icon-facebook-dims {
  width: 32px;
  height: 32px;
}

.icon-flickr-dims {
  width: 32px;
  height: 32px;
}

.icon-folder-dims {
  width: 100px;
  height: 100px;
}

.icon-googleplus-dims {
  width: 32px;
  height: 32px;
}

.icon-home-dims {
  width: 100px;
  height: 100px;
}

.icon-instagram-dims {
  width: 32px;
  height: 32px;
}

.icon-linkedin-dims {
  width: 32px;
  height: 32px;
}

.icon-navigation-dims {
  width: 100px;
  height: 100px;
}

.icon-paypal-dims {
  width: 32px;
  height: 32px;
}

.icon-rss-dims {
  width: 32px;
  height: 32px;
}

.icon-spotify-dims {
  width: 32px;
  height: 32px;
}

.icon-tags-dims {
  width: 100px;
  height: 100px;
}

.icon-twitter-dims {
  width: 32px;
  height: 32px;
}

.icon-wordpressdotcom-dims {
  width: 32px;
  height: 32px;
}

.icon-youtube-dims {
  width: 32px;
  height: 32px;
}

/******************************************************************

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. 

Remember to add things that won't make sense to print at 
the bottom. Things like nav, ads, and forms shouldbe set 
to display none.
******************************************************************/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}